<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="header">
   <ion-title class="title">
  
       Ingresa tu Email
       <p class="subTittle">Para restablecer su Contraseña </p>
   </ion-title>
 </div>
 <div>
  <ion-item>
    <ion-input class="input" placeholder="Ingresa tu Email" />
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>
  <br>
  
  <div class="contenedor-centrado">
    <ion-button class="mi-boton" color="primary">Recuperar Contraseña</ion-button>
  </div>
  

  

  

 
 </div>
</ion-content>
